# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/
*.log

# Android / iOS generated
android/.gradle/
android/app/debug
android/app/profile
android/app/release
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# IDE
.idea/
.vscode/
*.iml

# Secrets
.env
*.env

# OS
Thumbs.db
.DS_Store
